.sub-page #troo-da-hero-section {
  padding: 149px 0;
  position: relative;
  /* background: #eff2fd; */
  box-shadow: 0px 8px 15px rgba(149, 157, 165, 0.1);
}
.sub-page #troo-da-hero-section:after {
  background: #3556bf;
  opacity: 0.05;
  filter: blur(50px);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  width: 526px;
  height: 526px;
  right: 15%;
  bottom: 0;
}
.sub-page .left-img-col .vert-move {
  left: inherit;
  right: -15%;
  top: 150px;
  z-index: -9;
}
.sub-page-title {
  text-align: center;
  position: relative;
  z-index: 99;
}
.sub-page ul.breadcrumb {
  background: #ffffff;
  border: 1px solid rgba(53, 86, 191, 0.2);
  box-shadow: 0px 8px 15px rgba(149, 157, 165, 0.1);
  display: inline-flex;
  margin-bottom: 19px;
  padding: 12px 93px;
}
ul.breadcrumb li a {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #171717;
  text-decoration: none;
}
ul.breadcrumb .current a{
  color: #1ab69d ;
}
.sub-page #troo-da-top-header{
  display: none;
}
.sub-page .fllowa-socail{
  top: 20%;
}
.sub-page .wave-img {
  position: absolute;
  left: 30%;
  top: 10%;
}
.sub-page .spinner-wrap{
    top: -65%;
    right: 8%;
}
.sub-page .vert-move {
  left: 5%;
  top: -25px;
}

@media (max-width: 991px) {
  .sub-page #troo-da-hero-section {
    padding: 100px 0 100px 0;
  }
  .sub-page .fllowa-socail{
    top: initial;
  }
}

@media (max-width: 767px) {
  .sub-page ul.breadcrumb {
    padding: 12px 10px;
  }
  .sub-page-title h2 {
    font-size: 30px;
  }
  .sub-page-title h2 br {
    display: none;
  }
  .sub-page #troo-da-hero-section {
    padding: 100px 0 100px 0;
  }
}
